@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .sidebar-icon {
    @apply relative flex items-center justify-center h-14 w-14 mt-6 mb-3 mx-auto shadow-lg text-2xl bg-aquamarine-700 text-white hover:bg-aquamarine-700 hover:text-white rounded-3xl hover:rounded-xl transition-all duration-300 ease-linear cursor-pointer;
  }

  .sidebar-tooltip {
    @apply absolute w-auto p-2 m-2 min-w-max left-14 rounded-md shadow-md text-white bg-aquamarine-700 text-xs font-bold transition-all duration-100 scale-0 origin-left;
  }

}

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-thumb {
  background-color: #20b096;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #20b096;
}

::-webkit-scrollbar-thumb:active {
  background-color: #20b096;
}

::-webkit-scrollbar-track {
  background-color: #f1f1f1;
  border-radius: 10px;
}